*,
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
/* nav */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");



/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */


/* bar */


nav{
    justify-content: space-between;
    display: flex;
    padding: 1rem 2rem;
    cursor: pointer;
    background-image: url(bintang.jpeg);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    
  }
  
  nav ul li a{
      text-decoration: none;
      align-items: center;
      color: rgb(255, 255, 255);
      font-size: 20px;
      transition: 0s;
  }
  
  ul li a:hover{
      border-top: 2px solid orange;
      color: orange;
      border-bottom: 2px solid orange;
  }
  
  .menu-icon{
      font-size: 28px;
      display: none;
     
  }


  @media (max-width: 768px){
    nav{
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
       color: #ffffff;
       background-position: left;
/*        border-radius: 0px 0px 30px 30px; */
    }
    .tampilan-utama{
        background-position: start;
    }
    nav ul{
       flex-direction: column;
       width: 100%;
    }
    
    nav ul.hidden{
        display: none;
    }

    .menu-icon{
        align-items: center;
        display: flex;
    }
}

/* tampilan utama */

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  
.tampilan-utama{
    background-image: url(bintang.jpeg);
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(10px);
}  

.menu-utama{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
   font-style: normal;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

   .action__btns button:hover {
  background-color: tomato;
  border: 3px solid white;
  color: white;
  }

  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
    
  .image {
    display: grid;
    place-items: center;
  }


  .image img {
    width: min(25rem, 90%);
/*     border-radius: 50%; */
  }
/*   .img-utama{
 border-radius: 50%;
 border: 6px solid #1f2937;
  } */

/* tampilan utama */


/* cv project web */

body{
    /* background-color: rgb(236, 236, 236); */
}

.unggulan{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -5%;
    border-radius: 20px;
    font-size: 28px;
    color: black;
    font-family: "Kanit", sans-serif;
}

.card{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0;
    /* background-color: white; */
    height: auto;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    /* background-image: url(bg-hutan.jpg); */
    background-size: cover;
}

.card-item{
    background-color: white;
    width: 30%;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgb(149, 148, 148);
    height: auto;
    font-family: "Kanit", sans-serif;
    line-height: 1.5;
    font-style: normal;
}



.img-rpl{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

.view{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.tools{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
}

.tools1{
    border: 1px solid rgb(211, 211, 211);
    padding: 3px;
}

.tools2{
    border: 1px solid rgb(211, 211, 211);
    padding: 3px;
}

.left{
    margin-left: 10px;
    margin-right: 10px;
}

.title1{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.title2{
    margin-bottom: 10px;
}
/* cv project web */


/* skiils end education */

h2{
    margin-top: 30px;
    text-align: center;
}

.skill{
    text-align: center;
    margin-top: 50px;
    font-family: "Kanit", sans-serif;
}

.container{
    margin-top: 50px;
    display: flex;
    /* background-color: white; */
    /* background-image: url(desa.jpg); */
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 15px;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}

.skill-education{
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
    color: black;
    font-family: "Kanit", sans-serif;
}

.box{
    padding: 10px;
    background-color: rgb(189, 189, 189);
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.karir{
    width: 100%;
}

ul{
    /* margin-top: 20px; */
}

ul li{
    padding: 10px;
    margin-left: 20px;
}

/* box 2 */

.wrapper{
    /* font-family: "Teachers", sans-serif; */
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* validasi form */

.akses{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
    line-height: 1.6;
    font-size: 33px;
}

.h1{
    text-align: center;
}

.kontak{
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

main{
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(228, 228, 228);
  
}
form label{
    margin-top: 10px;
}
form input, textarea{
    padding: 10px;
}

form button{
    padding: 10px;
    margin-top: 10px;
    background-color: #2466e8;
    color: white;
    border: none;
}

#phone{
    margin: 10px;
    font-size: 28px;
    padding: 10px;
    background-color: #d8e6f4;
    border-radius: 10px;
}
.komunikasi{
    width: 30%;
}
.info-komunikasi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    width: 70%;
}
.isi-komunikasi{
    line-height: 1.5;
    padding: 5px;
    width: 100%;
}

/* my pengalaman */

.card-pengalaman{
 /* background-color: white; */
 margin-top: 50px;
 padding: 15px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 border-radius: 15px;
 line-height: 1.6rem;
 font-family: "Roboto", sans-serif;
 font-style: normal;
}

.keterangan{
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
    color: black;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
}

.item-pengalaman{
    width: 20%;
    box-shadow: 0px 6px 10px rgb(219, 216, 216);
    margin-top: 40px;
    margin-bottom: 40px;
}

.silat-jpg{
width: 100%;
height: 250px;
/* border: 10px solid rgb(62, 148, 247); */
}

.ps{
    padding: 10px;
}

.judul-pengalaman{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.rangkuman-pengalaman{
    width: 40%;
    background-color: #a855f7;
    padding: 20px;
    height: 200px;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.list-pengalaman{
    width: 100%;
    /* background-color: aqua; */
}

.all-school{
    margin-bottom: 20px;
    margin-left: 20px;
}

.date{
    font-size: 12px;
}

.list{
    width: 40%;
    display: flex;
    /* margin-left: 10px; */
    line-height: 1.5rem;
    font-family: "arial", sans-serif;
    font-style: normal;
}


/* pengalaman end */



/* footer */
 footer{
    text-align: center;
    padding: 10px;
    background-image: url(bintang.jpeg);
    color: #ffffff;
 }
/* footer end */



@media (max-width: 768px){
    /* menu utama */

    .menu-utama{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
    
      .image {
        grid-area: 1/1/2/2;
      }
    
      .action__btns {
        margin: auto;
    }
    

    /* menu-utama */
    /* event 1 */
    .card{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        gap: 1rem;
    }
    .card-item{
        width: 90%;
        margin-top: 15px;
    }

    .card-item:last-of-type{
        margin-bottom: 20px;
    }
    .unggulan{
        margin-bottom: 20PX;
        
    }
    /* event 2 */
    .container{
        flex-wrap: wrap;
    
    }
    .box{
        width: 100%;
    }

    .wrapper{
        margin-top: 20px;
        width: 100%;
    }
   /* kontak form */
   .kontak{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
   main{
    width: auto;
   }
   .komunikasi{
    width: auto;
    padding: 0;
   }
   .unggulan{
    margin-top: 50px;
   }
  
/* pengalaman */
.card-pengalaman{
    flex-wrap: wrap;
}
.silat-jpg{
    height: 200px;
}
.item-pengalaman{
    flex-wrap: wrap;
    width: 45%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.judul-pengalaman{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.date{
    font-size: 10px;
    margin-top: 5px;
}
.keterangan{
    width: 90%;
}
.list{
 width: auto;
 margin-right: 10px;
 margin-top: 10px;
}


}

@media (max-width: 490px){

}

@media (min-width: 768px){

    nav{
    width: 100%;
    position: fixed;
    color: aliceblue;
    align-items: center;
    background-image: url(campuran.jpg);
    background-size: cover;
}

.card-item{
    margin-bottom: 60px;
}
}
