*,
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#content {
    display: none;
} */


/* nav */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");



/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */


/* bar */


nav{
    justify-content: space-between;
    display: flex;
    padding: 1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-image: url(bintang.jpeg);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    
  }
  
  nav ul li a{
      text-decoration: none;
      align-items: center;
      color: rgb(255, 255, 255);
      font-size: 20px;
      transition: 1s;
  }
  
  nav ul li a:hover{
      /* border-top: 2px solid orange; */
      color: orange;
      border-bottom: 2px solid orange;
  }
  
  .menu-icon{
      font-size: 28px;
      display: none;
     
  }
  #ft{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
  }

  @media (max-width: 768px){
    nav{
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
       color: #ffffff;
       background-position: left;
/*        border-radius: 0px 0px 30px 30px; */
    }
    .tampilan-utama{
        background-position: start;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
        animation: fadeIn .3s linear;
      }
      @keyframes fadeIn {
        100%{
          transform: scale(1.4);
        }
      }
    
    nav ul.hidden{
        display: none;
    }

    .menu-icon{
        align-items: center;
        display: flex;
    }
}

/* tampilan utama */

:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  
.tampilan-utama{
    background-image: url(bintang.jpeg);
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(10px);
    padding: 10px;
}  

.menu-utama{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
   font-style: normal;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid white;
    cursor: pointer;
    /* background-image: url(bintang.jpeg); */
    background-color: #000000;
    backdrop-filter: 10%;
  }

   .action__btns button:hover {
  background-color: tomato;
  border: 3px solid white;
  color: white;
  }
  .action__btns a{
    color: white;
  }

  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
    
  .image {
    display: grid;
    place-items: center;
  }


  .image img {
    width: min(25rem, 90%);
/*     border-radius: 50%; */
  }
/*   .img-utama{
 border-radius: 50%;
 border: 6px solid #1f2937;
  } */

/* tampilan utama */


/* cv project web */

body{
}

.unggulan{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -5%;
    border-radius: 20px;
    font-size: 28px;
    color: black;
    font-family: "Kanit", sans-serif;
}

.card{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0;
    /* background-color: white; */
    height: auto;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
}

.card-item{
    background-color: white;
    width: 30%;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgb(149, 148, 148);
    height: auto;
    font-family: "Kanit", sans-serif;
    line-height: 1.5;
    font-style: normal;
}



.img-rpl{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

.view{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.tools{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
}

.tools1{
    border: 1px solid rgb(211, 211, 211);
    padding: 3px;
}

.tools2{
    border: 1px solid rgb(211, 211, 211);
    padding: 3px;
}

.left{
    margin-left: 10px;
    margin-right: 10px;
}

.title1{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 1.5rem;
    overflow: auto;
}
.title1::-webkit-scrollbar{
    display: none;
}

.title2{
    margin-bottom: 5px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
}
.date-card{
    /* background-color: #2466e8; */
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: end;
}
.date-card .dc{
    border-bottom: 2px solid rgb(129, 129, 129);
}
/* cv project web */


/* skiils end education */

h2{
    margin-top: 30px;
    text-align: center;
}

.skill{
    text-align: center;
    margin-top: 50px;
    font-family: "Kanit", sans-serif;
}

.container{
    margin-top: 50px;
    display: flex;
    /* background-image: url(desa.jpg); */
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 15px;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}

.skill-education{
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
    color: black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
}

.box{
    /* padding: 10px; */
    width: 30%;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 5px;
}

.karir{
    width: 100%;
}

ul{
    /* margin-top: 20px; */
}

ul li{
    padding: 10px;
    margin-left: 20px;
}

/* box 2 */

.wrapper{
    /* font-family: "Teachers", sans-serif; */
    line-height: 1.6;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.education{
    margin-top: -5%;
    display: flex;
}

.ul{
    /* background-color: #2466e8; */
}


/* validasi form */

.akses{
    padding: 10px;
    margin-top: 90px;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
    line-height: 1.6;
    font-size: 35px;
}

.h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.kontak{
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

main{
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(138, 138, 138);
    background-color: #e4e5e7;
    transition: 1s;
}
form:hover{
    border: 1px solid red;
}
form label{
    margin-top: 10px;
}
form input, textarea{
    padding: 20px;
    border: none;
    border: none;
}

form button{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2466e8;
    color: white;
}

#phone{
    margin: 10px;
    font-size: 28px;
    padding: 10px;
    background-color: #d8e6f4;
    border-radius: 10px;
}
.komunikasi{
    width: 30%;
}
.info-komunikasi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    width: 70%;
}
.isi-komunikasi{
    line-height: 1.5;
    padding: 0px;
    width: 100%;
}

/* my pengalaman */

.card-pengalaman{
 /* background-color: white; */
 margin-top: 10px;
 padding: 10px;
 margin-bottom: 30px;
 height: 600px;
 display: flex;
 justify-content: space-around ;
 align-items: start;
 flex-wrap: wrap;
 border-radius: 15px;
 line-height: 1.6rem;
 font-family: "Roboto", sans-serif;
 font-style: normal;
}

.keterangan{
    font-size: 28px;
    margin-top: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    padding: 10px;
}

.item-pengalaman{
    width: 30%;
    /* box-shadow: 0px 6px 10px rgb(219, 216, 216); */
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 1s;
    text-align: center;
}
.item-pengalaman:hover{
    box-shadow: 0 6px 10px rgb(104, 103, 103);
}


.silat-jpg{
width: 100%;
height: 250px;
border-radius: 10px 10px 0px 0px;
transition: 1s;
/* border: 10px solid rgb(62, 148, 247); */
}

.item-pengalaman:hover{
    box-shadow: 0 6px 10px rgb(104, 103, 103);
}

.ps{
    padding: 10px;
}

.judul-pengalaman{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.rangkuman-pengalaman{
    width: 40%;
    padding: 20px;
    height: 200px;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.list-pengalaman{
    width: 100%;
    padding: 20px;
    line-height: 1.6;
    font-size: 20px;
    font-family: "arial", sans-serif;
    font-style: normal;
    /* background-color: aqua; */
}

.all-school{
    margin-bottom: 20px;
    margin-left: 20px;
}
.ps-title{
    padding: 10px;
}
.date{
    font-size: 12px;
    border-bottom: 1px solid rgb(146, 146, 146);
    /* background-color: #638de1; */
    /* color: white; */
    padding: 5px;
    /* border-radius: 5px; */
}

.list{
    width: 40%;
    display: flex;
    /* margin-left: 10px; */
    line-height: 1.5rem;
    font-family: "arial", sans-serif;
    font-style: normal;
}



/* pengalaman end */

/* my hoby style */


@media (max-width: 600px){
    .faq-container{
        width: 90%;
    }
}

.hoby{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: rgb(222, 236, 245); */
}

.judul-hoby{
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.6;
    font-family: "arial", sans-serif;
    font-size: 28px;
}

.card-hoby{
    border: 1px solid rgb(135, 135, 135);
    width: 40%;
    padding: 20px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    background-color: #dce5f9;
}
.text-hoby{
    display: none;
}
.card-hoby #text-hobi1{
    font-size: 30px;
    font-weight: bold;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: red;
    color: white;
    padding-bottom: 50px;
    margin-top: -15%;
    border-bottom: 5px solid black;
}
.card-hoby #text-hobi2{
    font-size: 30px;
    font-weight: bold;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(163, 65, 165);
    color: white;
    padding-bottom: 50px;
    margin-top: -15%;
    border-bottom: 5px solid black;
}
.card-hoby #text-hobi3{
    font-size: 30px;
    font-weight: bold;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(146, 216, 105);
    color: white;
    padding-bottom: 50px;
    margin-top: -15%;
    border-bottom: 5px solid black;
}
.card-hoby #text-hobi4{
    font-size: 30px;
    font-weight: bold;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(183, 180, 180);
    color: white;
    padding-bottom: 50px;
    margin-top: -15%;
    border-bottom: 5px solid black;
}

.text-all{
    background-color: #4179ea;
    box-shadow: 0 6px 10px rgb(92, 91, 91);
    padding: 20px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
}



/* footer */
footer{
    text-align: center;
    background-image: url(bintang.jpeg);
    color: white;
    padding: 10px;
    margin-top: 20px;
    line-height: 1.6;
    font-family: "arial", sans-serif;
    font-style: normal;
}
marquee{
    font-size: 29px;
    color: red;
}
.h1{
    color: black;
}
 
/* !!! renovase */
.renovase{
    display: none;
}



@media (max-width: 768px){
    /* menu utama */
    .tampilan-utama{
        width: 100%;
    }
    .menu-utama{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
    
      .image {
        grid-area: 1/1/2/2;
      }
    
      .action__btns {
        margin: auto;
    }
    

    /* menu-utama */
    /* event 1 */
    .card{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        gap: 1rem;
    }
    .card-item{
        width: auto;
        margin-top: 15px;
    }

    .card-item:last-of-type{
        margin-bottom: 20px;
    }
    .unggulan{
        margin-bottom: 20PX;
        
    }
    /* event 2 */
    .container{
        flex-wrap: wrap;
    
    }
    .box{
        width: 100%;
    }

    .wrapper{
        margin-top: 20px;
        width: 100%;
    }
    .ul{
        display: fle;
        margin: 15px;
    }
    .all-ul{
        margin-top: 20px;
       display: flex;
    }
   /* kontak form */
   .akses{
    margin-bottom: -10%;
   }
   .kontak{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }
   main{
    width: auto;
    padding: 10px;
   }
   form button{
    margin-top: 20px;
    border-radius: 10px;
   }
   .isi-komunikasi{
    flex-direction: column;
    width: 100%;
    overflow: auto;
   }
   .komunikasi{
    width: auto;
    padding: 0;
   }
   .unggulan{
    margin-top: 50px;
   }
   form label{
    display: none;
   }
   form button{
    border: none;
   }
   form input, textarea{
    margin-top: 20px;
    border: none;
    padding: 20px;
   }
  
/* pengalaman */
.card-pengalaman{
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 10px;
    height: 700px;
    align-items: center;
    display: flex;
}.card-pengalaman::-webkit-scrollbar{
    background-color: white
}
.silat-jpg{
    height: 200px;
}
.item-pengalaman{
    min-width: 90%;
    margin: 10px;
}
.judul-pengalaman{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.date{
    font-size: 10px;
    margin-top: 5px;
}
.keterangan{
    padding: 15px;
    width: auto;
    flex-wrap: wrap;
    margin-bottom: -30%;
}
.list{
 width: auto;
 margin-right: 10px;
 margin-top: 10px;
}
.title2{
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    border-radius: 10px;
}
/* hoby */
.card-hoby{
    width: 90%;
}
.judul-hoby{
    display: none;
}
.card-hoby #text-hobi4{
    font-size: 30px;
    font-weight: bold;
    border-radius: 40px 40px 0px 0px;
    margin-bottom: 20px;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
    background-color: rgb(183, 180, 180);
    color: white;
    padding-bottom: 50px;
    margin-top: -15%;
    border-bottom: 5px solid black;
}

.hsatu{
    margin: 50px 0 20;
    text-align: center;
    font-weight: bold;
    font-family: "arial", sans-serif;
    font-style: normal;
    font-size: 28px;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.faq-container{
    margin-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    font-family:'mulish', sans-serif;
    font-family: mushial;
    display: none;
}
.faq{
    /* background-color: rgb(215, 217, 218); */
    border-radius: 10px;
    /* box-shadow: 0 3px 5px rgb(8, 8, 8); */
    border: 1px solid rgb(69, 68, 68);
    margin: 20px 0;
   padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.faq:last-of-type{
    margin-bottom: 40px;
}

.faq.active{
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title{
    margin: 0 35px 0 0;
    gap: 2rem;
}

.faq-text{
    display: none;
    margin: 30px 0 0;
   
}

.faq.active .faq-text{
    display: block;
}

.faq-toggle{
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus{
    outline: 0;
}

.fa-toggle .fa-times{
    display: none;
}
.faq.active .faq-toggle .fa-times{
    display: block;
    color: #FFF;
}
.faq.active .faq-toggle .fa-chevron-down{
    background-color: white;
    display: none;
}
.fa-chevron-down{
    margin: 0 20px 0;

}
.faq.active .faq-toggle{
    background-color: #9FA4AB;
}

}

@media (max-width: 322px){
    .renovase{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
      }
    nav{
        display: none;
      }
      .tampilan-utama{
        display: none;
      }
      .card{
        display: none;
      }
      .container{
        display: none;
      }
      .kontak{
        display: none;
      }
      .hoby{
        display: none;
        color: white;
      }
      .card-pengalaman{
        display: none;
      }
      .akses{
        display: none;
      }
      footer{
        display: none;
      }

}

@media (max-width: 315px){
  nav{
    display: none;
  }
  .tampilan-utama{
    display: none;
  }
  .card{
    display: none;
  }
  .container{
    display: none;
  }
  .kontak{
    display: none;
  }
  .hoby{
    display: none;
  }
  .card-pengalaman{
    display: none;
  }
  .akses{
    display: none;
  }
  footer{
    display: none;
  }
  .renovase{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;

  }
}

@media (min-width: 768px){
    
 nav{
    width: 100%;
    position: fixed;
    color: aliceblue;
    align-items: center;
    background-image: url(bintang.jpeg);
    background-size: cover;
}

.card-item{
    margin-bottom: 60px;
}

.silat-jpg:hover{
    height: 350px;
 }
.hsatu{
    display: none;
}
.faq-container{
    display: none;
}
}
